.stockpicker {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.stockpicker .stockpicker-title{
  z-index: 10;
}
.stockpicker .stockpicker-title .box {
  background-color: #00B3D6;
  max-width: 160px;
}
.stockpicker .stockpicker-title .tail {
  width: 0px;
  border-top: solid 24px #098DAD;
  border-left: solid 16px transparent;
}
.stockpicker .stock-page {
  margin-top: -3.95em;
  padding-top: 3.8em;
  margin-left: 1em;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10);
}
.stockpicker .stock-page .stock-header {
  margin-left: 2.5em;
  margin-right: 2em;
  margin-top: -1.4em;
  display: flex;
  justify-content: space-between;
}
.stockpicker .stock-page .stock-header .stock-description {
  color: #00A9D2;
  font-size: 16px;
  align-self: flex-end;
}
.stockpicker .stock-page .stock-body{
  width: 100%;
  padding-top: 1em;
}
.stockpicker .stock-page .stock-area{
  margin-left: 2.55em;
  margin-right: 2em;
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  justify-content: flex-start;
}
.stock-area>.stock{
  width: calc(100% * (1/4) - 10px - 1px);
  margin-left: calc((10px - 1px) * 4 * .5);
  margin-right: calc((10px - 1px) * 4 * .5);
}
.stock-area :nth-child(1), .stock-area :nth-child(5) {
  margin-left: 0;
}
.stock-area :nth-child(4), .stock-area :nth-child(8) {
  margin-right: 0;
}
.stockpicker .stock-page .stock-body .stock-nav{
  display: flex;
  margin-left: 2.6em;
  margin-right: 2.1em;
  margin-bottom: 1em;
  justify-content: space-between;
}