.portfoliomanager{
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.portfoliomanager .portfoliomanager-title{
  z-index: 10;
}
.portfoliomanager .portfoliomanager-title .box {
  background-color: #287DCE;
  max-width: 226px;
}
.portfoliomanager .portfoliomanager-title .tail {
  width: 0px;
  border-top: solid 24px #15569C;
  border-left: solid 16px transparent;
}

.portfolio-playground {
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10);
  margin-top: -3.95em;
  margin-left: 1em;
  padding-top: 3.8em;
  padding-left: 2.55em;
  padding-bottom: 0.3em;
}
.portfolio-playground .portfolio-table, 
.portfolio-playground .portfolio-insight, 
.portfolio-playground .portfolio-summary {
  flex: 1;
  height: 20em;
}
.portfolio-playground .portfolio-table {
  min-width: 400px;
}
.portfolio-playground .portfolio-insight {
  min-width: 400px;
}
.portfolio-playground .portfolio-summary {
  min-width: 200px;
  margin-right: 2em;
}
.portfolio-playground .portfolio-table{
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
}
.table-header{
  flex: 1;
  max-height: 2.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-around;
  background-color: #8FB9E7;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
}
.table-header .header-values{
  flex: 1;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 0.8em;
  color: #fff;
}

.portfolio-table-body {
  flex:1;
  overflow-y: auto;
}
.portfolio-playground .portfolio-insight, .portfolio-playground .portfolio-summary{
  margin-left: 1em;
}
.empty{
  display: block!important;
  margin: 7em;
  margin-left: 8em;
  font-size: 1em;
  color: #333;
  opacity: 0.4;
}
.portfolio-summary .summary{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2.5em;
  margin-bottom: 0.95em;
}
.summary .summary-row {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5em;
}
.summary-row .stocks-summary{
  margin-right: 2em;
}
.summary-row .net-summary{
  margin-right: -1em;
}
.summary-row .stocks-summary, .summary-row .net-summary, .summary-row .pe-summary{
  flex: 1;
  white-space: nowrap;
}
.summary .summary-label{
  color: #287DCE;
  line-height: 20px;
  font-size: 16px;
}
.summary .summary-value{
  font-size: 1.6em;
  color: #101010;
}
.build-button{
  cursor: pointer;
  color: #fff;
  text-align: center;
  line-height: 53px;
  height: 53px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.30);
  background-image: linear-gradient(-90deg, #3489D1 0%, #2BC4DD 100%)
}
.build-button:hover{
  transition: .4s;
  background-image: linear-gradient(-90deg, #3489D1 0%, #2BC4DD 100%);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.30);
}